[submodule "Vendor/NeuralAmpModelerPlugin"]
	path = Vendor/NeuralAmpModelerPlugin
	url = https://github.com/sdatkinson/NeuralAmpModelerPlugin.git
[submodule "Vendor/SfizzKit"]
	path = Vendor/SfizzKit
	url = https://github.com/universal-tabulature/SfizzKit.git
